# Files to ignore
# https://www.chezmoi.io/reference/special-files-and-directories/chezmoiignore/
# https://www.chezmoi.io/user-guide/manage-machine-to-machine-differences/#ignore-files-or-a-directory-on-different-machines

.config/nvim/lazy-lock.json

# For the GitHub repo
#README.md
#LICENSE
