# Files to ignore
# https://www.chezmoi.io/reference/special-files-and-directories/chezmoiignore/
# https://www.chezmoi.io/user-guide/manage-machine-to-machine-differences/#ignore-files-or-a-directory-on-different-machines

.config/chezmoi  # Protected anyway
.config/nvim/lazy-lock.json
.config/mozilla
.config/fish/completions  # Allow brew to stick completions here

# Don't manage these in the home folder
.CFUserTextEncoding
.DS_Store
.Trash
.cache
.cups
.docker
.ipython
.jupyter
.lesshst
.local
.netrc
.node_repl_history
.npm
.psql_history
.pyenv
.python_history
.rediscli_history
.sqlite_history
.ssh
.viminfo
.virtualenvs
.volta
.vscode
.wget-hsts
.zsh_history
.zsh_sessions
Applications
Databases
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
SynologyDrive
windows

# Only manage the agent config
.gnupg/*
!.gnupg/gpg-agent.conf

# Ensure created, but don't manage folders
src/*
!src/.keep

# Don't manage in any directory
**/.DS_Store

# Don't sync these in the chezmoi folder
# This means exclusion patterns will be needed to track these in subfolders
README.md
LICENSE
