{{- $forFamilyComputer := promptBoolOnce . "forFamilyComputer" "Install for family computer" false -}}
{{- $forMozilla := promptBoolOnce . "forMozilla" "Install for Mozilla development" false -}}
{{- $forPersonal := promptBoolOnce . "forPersonal" "Install for personal use" false -}}

[cd]
    command = "fish"

[data]
    forFamilyComputer = {{ $forFamilyComputer }}
    forMozilla = {{ $forMozilla }}
    forPersonal = {{ $forPersonal }}

{{- $github_email := promptStringOnce . "github.email" "GitHub Email adddress" "286017+jwhitlock@users.noreply.github.com" -}}
{{- $github_signingkey := promptStringOnce . "github.signingkey" "GitHub Signing Key" "22E44A90025A75DB" }}

[data.github]
    email = {{ $github_email | quote }}
    signingkey = {{ $github_signingkey | quote }}
