{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -e
brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/core"
tap "homebrew/services"

brew "ack"
brew "black"
brew "chezmoi"
brew "fish"
brew "gnupg"
brew "hub"
brew "macvim"
brew "magic-wormhole"
brew "pinentry-mac"
brew "pyenv"
brew "python3"
brew "rust"
brew "wget"

cask "1password"
cask "1password-cli"
cask "docker"
cask "firefox"
cask "keybase"
cask "marked"
cask "omnifocus"
cask "rescuetime"
cask "shiftit"
cask "slack"
cask "sourcetree"
cask "textexpander"

{{- if .forMozilla }}
cask "element"
cask "google-chrome"
cask "reflector"
cask "zoom"
{{- end }}

{{- if .forPersonal }}

{{- end }}
EOF

# Use App Store
function uninstall {
  brew uninstall --cask $1 || echo "👍 $1 not brew installed"
}

uninstall daisydisk
uninstall soulver
uninstall synalyze-it-pro
{{ end -}}
