{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -e

function uninstall {
  brew uninstall $1 || echo "👍 $1 not brew installed"
}
function uninstall_cask {
  brew uninstall --cask $1 || echo "👍 $1 not brew installed"
}
uninstall macvim
uninstall terraform

brew bundle install --file=/dev/stdin <<EOF
#
# Taps
#

{{- if .forMozilla }}
tap "heroku/brew"
{{- end }}


#
# Brews
#
brew "ack"
brew "age"
brew "black"
brew "chezmoi"
brew "csvkit"
brew "dhex"
brew "dos2unix"
brew "ffmpeg"
brew "fish"
brew "gh"
brew "gnupg"
brew "hub"
brew "jq"
brew "jupyterlab"
brew "magic-wormhole"
brew "ollama"
brew "perl"  # For ack
brew "pinentry-mac"
brew "pyenv"
brew "pyenv-virtualenv"
brew "python3"
brew "rust"
brew "shellcheck"
brew "starship"
brew "tfenv"
brew "typos-cli"
brew "uv"
brew "virtualfish"
brew "wget"
brew "yq"

# Neovim
brew "neovim"
brew "composer"
brew "fd"
brew "julia"
brew "luarocks"
brew "openjdk"
brew "ripgrep"

{{- if .forMozilla }}
# fx-private-relay, monitor
brew "circleci"
brew "heroku/brew/heroku"
brew "nvm"
brew "optipng"
brew "postgresql@14"
brew "redis"
brew "structurizr-cli"
brew "telnet"
brew "volta"

# sre
brew "helm"
brew "go"
brew "kubernetes-cli"
{{- end }}

{{- if .forPersonal }}
{{- end }}

{{- if (or .forPersonal .forMozilla ) }}
brew "awscli"
brew "graphviz"
{{- end }}

#
# Casks
#
cask "1password"
cask "1password-cli"
cask "docker-desktop"
cask "firefox"
cask "marked-app"
cask "mimestream"
cask "omnifocus"
cask "rescuetime"
cask "slack"
cask "sourcetree"
cask "textexpander"
cask "vimr"
cask "font-meslo-lg-nerd-font"  # MesloLGS Nerd Font Propo

{{- if .forMozilla }}
cask "element"
cask "google-chrome"
cask "reflector"
cask "zoom"
{{- end }}

{{- if .forPersonal }}
cask "minecraft"
cask "steam"
cask "superduper"
cask "synology-drive"
{{- end }}

{{- if .forFamilyComputer }}
cask "audacity"
cask "epic-games"
cask "handbrake-app"
cask "makemkv"
cask "metaz"
cask "ubiquiti-unifi-controller"
cask "vlc"
{{- end }}

EOF
{{ end -}}
