# This file contains fish universal variable definitions.
# VERSION: 3.0
SETUVAR PIP_REQUIRE_VIRTUALENV:true
SETUVAR __fish_initialized:4300
{{- if eq (lower .chezmoi.hostname) "jwhitlock-mb-m2" }}
SETUVAR fish_user_paths:/Users/john/\x2evolta/bin\x1e/Users/john/Library/pnpm\x1e/Users/john/go/bin\x4014/bin\x1e/Users/john/bin\x1e/opt/homebrew/sbin\x1e/Users/john/src/taskcluster/node_modules/\x2ebin\x1e/Users/john/\x2epyenv/bin\x1e/Users/john/Library/Python/3\x2e9/bin\x1e/opt/homebrew/bin\x1e/Users/john/\x2elocal/bin
{{- end }}
{{- if eq .chezmoi.hostname "Mozilla-35787" }}
SETUVAR fish_user_paths:/opt/homebrew/bin\x1e/opt/homebrew/sbin
{{- end }}
{{- if eq .chezmoi.hostname "Greblock-Mini" }}
SETUVAR fish_user_paths:/Applications/Wine\x20Stable\x2eapp/Contents/Resources/wine/bin\x1e/Applications/Wine\x20Stable\x2eapp/Contents/Resources/start/bin\x1e/opt/homebrew/sbin\x1e/opt/homebrew/bin
{{- end }}
