# This file contains fish universal variable definitions.
# VERSION: 3.0
SETUVAR PIP_REQUIRE_VIRTUALENV:true
SETUVAR __fish_initialized:4300
{{- if eq .machineName "jwhitlock-mb-m2" }}
SETUVAR fish_user_paths:/opt/homebrew/bin\x1e/opt/homebrew/sbin
{{- end }}
{{- if eq .machineName "jwhitlock-mb-m1" }}
SETUVAR fish_user_paths:/opt/homebrew/bin\x1e/opt/homebrew/sbin
{{- end }}
{{- if eq .chezmoi.hostname "Greblock-Mini" }}
SETUVAR fish_user_paths:/Applications/Wine\x20Stable\x2eapp/Contents/Resources/wine/bin\x1e/Applications/Wine\x20Stable\x2eapp/Contents/Resources/start/bin\x1e/opt/homebrew/sbin\x1e/opt/homebrew/bin
{{- end }}
